@import "tailwindcss";

@theme {
  --color-ocean-blue: #4A7BA7;
  --color-ocean-dark: #3d6585;
  --color-sky-blue: #6FA8DC;
  --color-cloud-grey: #B4C7D8;
  --color-horizon: #D4E3EE;
}

@layer base {
  html {
    font-family: var(--font-raleway), ui-sans-serif, system-ui, sans-serif;
  }

  .prose {
    color: theme(colors.gray.700);
    max-width: 65ch;
  }

  .prose p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  .prose h2 {
    color: theme(colors.gray.900);
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333;
  }

  .prose h3 {
    color: theme(colors.gray.900);
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    line-height: 1.6;
  }

  .prose a {
    color: theme(colors.blue.600);
    text-decoration: underline;
    font-weight: 500;
  }

  .prose a:hover {
    color: theme(colors.blue.700);
  }

  .prose strong {
    color: theme(colors.gray.900);
    font-weight: 600;
  }

  .prose ul {
    list-style-type: disc;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
  }

  .prose ol {
    list-style-type: decimal;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
  }

  .prose li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .prose code {
    color: theme(colors.gray.900);
    font-weight: 600;
    font-size: 0.875em;
  }

  .prose pre {
    color: theme(colors.gray.100);
    overflow-x: auto;
    font-size: 0.875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: 0.375rem;
    padding: 0.8571429em 1.1428571em;
  }

  .prose-lg {
    font-size: 1.125em;
    line-height: 1.7777778;
  }

  .prose-lg p {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
  }

  .prose-lg h2 {
    font-size: 1.6666667em;
    margin-top: 1.8666667em;
    margin-bottom: 1.0666667em;
    line-height: 1.3333333;
  }
}
